<style>
    .footer .nav-link{
        padding: 0px 10px 5px 0px;
    }
    .footer a {
        color: inherit; 
    }
</style>

<footer>
    <ul class="nav text-muted fw-500 fs-12 footer">
        <li>
            <a class="nav-link active" href="#">About this blog</a>
        </li>
        <li>
            <a class="nav-link active" href="#">Nelson Guimaraes</a>
        </li>
        <li>
            <a class="nav-link active" href="#">External resources</a>
        </li>
        <li>
            <a class="nav-link active" href="#">Help</a>
        </li>
        <li>
            <a class="nav-link active" href="#">Help</a>
        </li>

    </ul>
</footer>